<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">

  <title>Resume of Omar.Zhou</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>

  <style>
    .bg_title {
      background-color: rgb(46, 188, 174);
    }
    .text_title {
      color: rgb(46, 188, 174);
      border-color: rgb(46, 188, 174)!important;
      border-width: 2px!important;
    }
  </style>
</head>
<body>


<div id="app" style="margin-top: 2em;  margin-bottom: 2em">
  <div class="container-fluid" >
    <div class="row">
      <nav class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
        <img src="img/profile.jpg" alt="profile" class="img-thumbnail rounded-circle">
        <div style="text-align: center">
          <img src="img/location.png" style="width: 1.5em">
          <div>China</div>
        </div>
        <hr />
        <h1 class="h3 text_title">SKILLS</h1>
        <div v-for="(skill,i) in skills">
            {{skill.title}}
            <div class="progress">
              <div class="progress-bar" v-bind:class="[skill.bg]" role="progressbar" :style="{width: skill.percent + '%'}" v-bind:aria-valuenow="skill.percent" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>

      </nav>

      <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
        <div class="bg_title text-white" style="padding-left: 1em; padding-right: 1em">
          <h1 class="h2">Omar.Zhou</h1>
          <div class="border-bottom">
            Software Engineer
          </div>
          <div>
            {{intro}}
          </div>
        </div>

        <div style="padding-left: 1em; padding-right: 1em; margin-top: 1em">
          <div class="border-bottom text_title" style="font-size: 1.2em; font-weight: bold">
            WORK EXPERIENCE
          </div>
          <div v-for="(exp,i) in experience" style="margin-bottom: 1em">
            <span style="font-weight: bold" class="text_title">{{exp.title}}</span>
            <div>{{exp.company}}</div>
            <span class="text_title" style="font-style: italic; font-size: 0.9em">{{exp.range}}</span>
            <ul style="list-style-image:url('img/ul.png');  margin-left: -1.5em">
              <li v-for="(acc) in exp.accomplishment">{{acc}}</li>
            </ul>
          </div>
        </div>

        <div style="padding-left: 1em; padding-right: 1em; margin-top: 1em">
          <div class="border-bottom text_title" style="font-size: 1.2em; font-weight: bold">
            EDUCATION
          </div>
          <span style="font-weight: bold" class="text_title">
            Macromolecule - Bachelor’s Degree
          </span>
          <div>
            QIQIHAR UNIVERSITY
          </div>
          <span class="text_title" style="font-style: italic; font-size: 0.9em">2005-2009</span>
        </div>

        <div style="padding-left: 1em; padding-right: 1em; margin-top: 1em">
          <div class="border-bottom text_title" style="font-size: 1.2em; font-weight: bold">
            CERTIFICATION
          </div>
          <div>
            SCJP
          </div>
          <div>
            TOEFL/80
          </div>
        </div>
        <div style="padding-left: 1em; padding-right: 1em; margin-top: 1em">
          <div class="border-bottom text_title" style="font-size: 1.2em; font-weight: bold">
            LINKS
          </div>
          <div>
            <a href="http://thinkinlife.org/everything-is-meaningless/">personal blog</a>
          </div>
          <div>
            <a href="https://www.topcoder.com/members/hl_a_k">Topcoder profile</a>
          </div>
          <div>
            <a href="https://github.com/hl-a-k">Github profile</a>
          </div>
        </div>
      </main>
    </div>
  </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
<script>
  let skillBg = ['bg-dark', 'bg-success', 'bg-primary', 'bg-warning', 'bg-danger']
  let skills = [
    {
      title: 'Leadership, Creative, Passion',
      percent: 100
    },
    {
      title: 'Agile, tools...',
      percent: 60
    },
    {
      title: 'Algorithm',
      percent: 80
    },
    {
      title: 'API design',
      percent: 80
    },
    {
      title: 'Reactive programing techniques',
      percent: 10
    },
    {
      title: 'Java7/Java8',
      percent: 85
    },
    {
      title: 'Es6',
      percent: 80
    },
    {
      title: 'Python',
      percent: 60
    },
    {
      title: 'C,C++',
      percent: 40
    },
    {
      title: 'Swift',
      percent: 30
    },
    {
      title: 'PHP',
      percent: 20
    },
    {
      title: 'HTML,CSS',
      percent: 50
    },
    {
      title: 'Spring frameworks, Springboot...',
      percent: 60
    },
    {
      title: 'cloud',
      percent: 60
    },
    {
      title: 'mybatis, hibernate',
      percent: 60
    },
    {
      title: 'React',
      percent: 70
    },
    {
      title: 'Vue',
      percent: 20
    },
    {
      title: 'Electron',
      percent: 60
    },
    {
      title: 'Linux',
      percent: 70
    },
    {
      title: 'Nginx, Docker, Kubernetes & service mesh',
      percent: 40
    },
    {
      title: 'AWS, Alibabacloud, Ansible',
      percent: 30
    },
    {
      title: 'Git',
      percent: 30
    }
  ].map(s=>{
    s.bg = skillBg[parseInt((s.percent - 1) / 20)]
    return s
  })

  new Vue({
    el: '#app',
    data: {
      skills,
      intro: "I have been working as a software engineer since 2010. I'm a passionate people who good at solving problems." +
              " I'm a very deep and pragmatic person. My dream is to keep the world in balance." +
              " But I always know that I must survive first. I will be a good employee because there is a belief that drives me forward.  ",
      experience: [
        {
          title: "Senior Software Engineer",
          company: "Geeboo",
          range: "04/2019 - present",
          accomplishment: [
            "Provided technical solutions for A Game Booster. Solved 3proxy's UDP block problem, determined using Electron replace C#, used Java to control 3proxy that I can control traffic precisely without writing C codes(The project delay for eight months until my team take charge.).",
            "Team manage/Scrum Master",
            "Determined to use Docker, K8S.",
            "Improve Mybatis's query efficiency by adding customized pagination",
            "Build the ops system, include CI/CD, ansible, log system."
          ]
        },
        {
          title: "Freelancer",
          company: "",
          range: "06/2017 - 03/2019",
          accomplishment: [
            "Maintain an ERP and an e-shop system for a local company.",
            "Build a desktop application using Electron for parsing pdf files, stamp pdf files for a customer online. Build another desktop application using Electron, Puppeteer, for scratch data from some websites for the same client.",
            "Won a few challenges in Topcoder.",
          ]
        },
        {
          title: "Senior Software Engineer",
          company: "GWCHINA",
          range: "03/2015 - 05/2017",
          accomplishment: [
            "Provide technical solutions for an in-class application. By using Syncthing, Sqlite, Java. Teachers can prepare material at home and using the application in class. (Company close to giving up this project).",
            "Setup team's development service, include setup Nexus, code standard plugin.",
            "Determined to use Ionic.",
            "Build a word parse engine."
          ]
        },
        {
          title: "Team leader",
          company: "IMAGETRANS",
          range: "03/2014 - 04/2015",
          accomplishment: [
            "Lead a team to maintain a website like booking.com.",
          ]
        },
        {
          title: "Software engineer",
          company: "EPCARE",
          range: "04/2013 - 02/2014",
          accomplishment: [
            "Maintain an EDM system.",
            "Provide technical a solution for the Greyhat SEO system by using phantoms, capers, and lots of IPs, creating a Mocker, which can simulate human behaviors. "
          ]
        },
        {
          title: "Software Engineer",
          company: "Sinoservices",
          range: "09/2011 - 03/2013",
          accomplishment: [
                  "Participate in WMS development.",
                  "Create a visualization Dock schedule system. I use a rectangle to represent how long a car will occupy a dock. Clients can know how busy the Dock by a glance and avoid schedule conflict because the overlap area of two rectangles is red. "
          ]
        },
        {
          title: "Junior programmer",
          company: "NFKY",
          range: "05/2010 - 09/2011",
          accomplishment: [
                  "Create an excel import module. The module is configurable by using configuration files and Java reflection, so It does not need to create a new module for a different format. It will be valid the file before import, and mark the error with a red background. It does save a lot of time for clients."
          ]
        }

      ]
    }
  })
</script>
</body>
</html>
